<div id="default-carousel" class="relative w-full z-10" data-carousel="slide">
    <div class="relative h-[500px] overflow-hidden md:h-[650px]">
        <div class="hidden duration-1000 ease-in-out flex justify-center items-center h-full" data-aos="zoom-in"
            data-carousel-item>
            <img src="https://theglasshouseflowers.com/cdn/shop/files/NEW_Website_Home_Page.png?v=1681362640"
                class="brightness-[.70] absolute block h-full w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="...">
            <div class="absolute z-10 top-60 left-40">
                <div class="flex justify-center">


                    <div class="text-center items-center w-[40rem]">
                        <h1 class="text-white text-8xl tracking-wider font-['CaslonGraComD_V2']">Blossomming Moments
                        </h1>
                        <p class="font-['Karla'] text-white my-3">Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Doloremque quo, sit enim earum id
                            maiores!</p>
                        <button
                            class="font-['Karla'] text-white mt-2 px-4 py-2 border-solid border-2 border-white hover:bg-transparent">
                            Shop Preserved
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden duration-1000 ease-in-out flex justify-center items-center h-full" data-carousel-item>
            <img src="https://theglasshouseflowers.com/cdn/shop/files/Signature_Collection_HOME.jpg?v=1614307851"
                class="brightness-[.70] absolute block h-full w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="...">
            <div class="absolute z-10 top-60 left-40">
                <div class="flex justify-center">

                    <div class="text-center items-center w-[40rem]">
                        <h1 class="text-white text-8xl tracking-wider font-['CaslonGraComD_V2']">TIMELESS TOUCH</h1>
                        <p class="font-['Karla'] text-white my-3">Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Doloremque quo, sit enim earum id
                            maiores!</p>
                        <button
                            class="font-['Karla'] text-white mt-2 px-4 py-2 border-solid border-2 border-white hover:bg-transparent">
                            Shop Preserved
                        </button>
                    </div>


                </div>
            </div>
        </div>

        <div class="hidden duration-1000 ease-in-out flex justify-center items-center h-full" data-carousel-item>
            <img src="https://theglasshouseflowers.com/cdn/shop/files/NEW_Website_Home_Page_1_98e0aa43-1f66-49ed-8dbd-92aa4bd15f42.png?v=1712559249"
                class="brightness-75 absolute block h-full w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="...">
            <div class="absolute z-10 top-60 left-40">
                <div class="flex justify-center">

                    <div class="text-center items-center w-[40rem]">
                        <h1 class="text-white text-8xl tracking-wider font-['CaslonGraComD_V2']">Beauty in Bloom</h1>
                        <p class="font-['Karla'] text-white my-3">Lorem ipsum dolor sit amet consectetur,
                            adipisicing elit. Doloremque quo, sit enim earum id
                            maiores!</p>
                        <button
                            class="font-['Karla'] text-white mt-2 px-4 py-2 border-solid border-2 border-white hover:bg-transparent">
                            Shop Preserved
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
    </div>
</div>
<div class="font-['Karla'] text-center my-5">
    <h1 class="text-xl text-[#312952] uppercase py-2">Let Our Flowers Say What You Mean</h1>
    <div class="flex justify-center">


        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="bg-[#000042] w-full text-white">Mother's day</div>
            <a href="#">
                <img class="w-52" src="https://cdn.shopify.com/s/files/1/0510/2819/7572/files/mothers-day-card.png?v=1713871747" alt="" />
            </a>
          
        </div>
        
    </div>
</div>